.member-container {
  border-radius: 5px;
  color: #0a0a0a;
  width: 17%;
  display: inline-block;
  margin: 2%;
  text-align: center;
  font-family: sans-serif;
  padding: 1%;
}

.form-container {
  border: 1px solid black;
  padding: 3% 0;
  margin: 5% auto;
  width: 50%;
  text-align: center;
}
